/* Main */

body {
	background: #3498db;
	text-align: center;
}

/* Clear default CSS links */

a, a:visited, a:hover, a:active {
	text-decoration: none;
}

/* Title */

.name {
	font-family: 'Oswald', sans-serif;
	font-size: 20vw;
	text-transform: uppercase;
	margin: 0;
	line-height: 100%;
}

.colorize {
	-webkit-transition : color 0.5s;
	transition         : color 0.5s;
}

.colorize:hover {
	color: #fff;
}

/* Button */

.btn {
	font-family: 'Oswald', sans-serif;
    font-size: 8vw;
    border: 3px solid #fff;
    position: relative;
    top: 10vh;
    padding: 1.5%;
	-webkit-transition : border-radius 250ms;
	transition         : border-radius 250ms;
}

.btn:hover {
    border-radius: 20px;
}

.btn:visited {
    color: #fff;
}

/* Social Media */

.social-media {
	position: relative;
	top: 20vh;
    font-size: 50px;
}

.right-spaced {
    margin-right: 10px;
}

.left-spaced {
    margin-left: 10px;
}

.both-spaced {
    margin: 0 10px;
}

.social-link {
    color: #eee;
	-webkit-transition : color 250ms;
	transition         : color 250ms;
}

.social-link:visited {
	color: #eee;
}

.social-link:focus {
    color: #eee;
}

.social-link:hover {
    color: #001;
}

.twitter-link:hover {
    color: #55acee;
}

.youtube-link:hover {
    color: #cd201f;
}

.github-link:hover {
	color: #171515;
}

.linkedin-link:hover {
	color: #0077b5;
}
